mobile/node_modules/
mobile/.expo/
mobile/npm-debug.*
mobile/web-build/
mobile/*.lock
mobile/*.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

backend/node_modules/
backend/*.lock
backend/dist/
node_modules
